<div class="outercont">
<div class="sideboard" [ngClass]="{ resp: min }">
  <ul>
    <li>
      <span (click)="min = !min" *ngIf="!min" class="fas fa-chevron-left"></span>
      <span (click)="min = !min" *ngIf="min" class="fas fa-chevron-right"></span>
    </li>
    <li
      [class.active]="path == '/dashboard/student-list' || path.split('/')[2] =='payCounterpart'"
      (click)="goto('/dashboard/student-list')"
    >
      <span class="fas fa-list"></span>
      <span class="navtext">students list</span>
    </li>
    <li
      [class.active]="path == '/dashboard/form'"
      (click)="goto('/dashboard/form')"
    >
      <span class="fas fa-money-check"></span>
      <span class="navtext">Add new record</span>
    </li>
    <!-- <li (click)="/dashboard/record">student record</li> -->
    <li
      [class.active]="path == '/dashboard/monthly-analytics'"
      (click)="goto('/dashboard/monthly-analytics')"
    >
      <span class="fas fa-chart-bar"></span>
      <span class="navtext">monthly statistics</span>
    </li>
    <li
      [class.active]="path == '/dashboard/anual-analytics'"
      (click)="goto('/dashboard/anual-analytics')"
    >
      <span class="fas fa-chart-area"></span>
      <span class="navtext">Anual statistics</span>
    </li>
  </ul>
</div>
<div class="content" [class.hidden]="min">
  <router-outlet ></router-outlet>
</div>
</div>
